* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--el-text-color-regular);
    text-decoration: none;
}


#app {
  height: 100vh;
  background-color: var(--bg-color)
  /* background-color: #ecf0f3; */
}


a:hover{
  color: #409eff;
}