* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    background-color: #ecf0f3;
}

a {
    color: var(--el-text-color-regular);
    text-decoration: none;
}


a:hover{
  color: #409eff;
}