* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--el-text-color-regular);
    text-decoration: none;
}

#app {
    height: 100vh;
    background-color: var(--bg-color);
    overflow: hidden;
}

a:hover {
    color: #409eff;
}

// 文件列表中的文件高度
$file-height: 100px;
// 文件图标宽高
$pre-width: 80%;
$pre-height: 80%;