* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--el-text-color-regular);
    text-decoration: none;
}

body {
    overflow: hidden;
}

#app {
    height: 100vh;
    background-color: var(--bg-color);
    overflow: hidden;
}

.dplayer-full-in-icon {
    display: none !important;
}

.dplayer-menu {
    display: none !important;
}

#dplayer {
    width: 100%;
    height: 100%;
}

// 关闭按钮
.titlebar-button {
    margin-left: 15px !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: var(--el-button-text-color);

    &:hover {
        background-color: var(--el-fill-color-light) !important;
    }
}

#titlebar-close {
    &:hover {
        color: white;
        background-color: rgb(235, 32, 19) !important;
    }
}

a:hover {
    color: #409eff;
}

.confirm-btn {
    background-color: #409eff !important;
    border-color: unset;
}

.confirm-btn:focus-visible {
    outline: unset;
}

.confirm-btn:active {
    background-color: #337ecc !important;
}

.confirm-btn:hover {
    background-color: #79bbff !important;
}

.el-dialog__body {
    padding-top: 0;
    padding-bottom: 10px !important;
}

// 文件列表中的文件高度
$file-height: 80px;
// 文件图标宽高
$pre-width: 80%;
$pre-height: 80%;
